<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinfang.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.jinfang.entity.SysUser">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
        <result column="department" jdbcType="VARCHAR" property="department" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="is_enabled" jdbcType="BIT" property="isEnabled" />
        <result column="is_locked" jdbcType="BIT" property="isLocked" />
        <result column="locked_date" jdbcType="TIMESTAMP" property="lockedDate" />
        <result column="login_date" jdbcType="TIMESTAMP" property="loginDate" />
        <result column="login_failure_count" jdbcType="INTEGER" property="loginFailureCount" />
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="loginName" jdbcType="VARCHAR" property="loginName" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="is_bind_email" jdbcType="BIT" property="isBindEmail" />
        <result column="is_bind_mobile" jdbcType="BIT" property="isBindMobile" />
        <result column="is_del" jdbcType="BIT" property="isDel" />
    </resultMap>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from sys_user where id= #{id}
    </select>
    <select id="findByName" parameterType="String" resultMap="BaseResultMap">
        select * from sys_user where loginName= #{loginName}
    </select>

    <insert id="insert" parameterType="list">
        insert into sys_user(
        id,create_date,modify_date,is_enabled,is_locked,login_failure_count,name,
        loginName,password,type,is_bind_email,is_bind_mobile,is_del
        )
        values
        <foreach collection="list" item="v1" separator=",">
            (#{v1.id},#{v1.createDate},#{v1.modifyDate},1,0,0,#{v1.name},#{v1.loginName},#{v1.password},2,0,0,0)
        </foreach>
    </insert>

    <update id="update" parameterType="com.jinfang.entity.SysUser">
        update sys_user
        <set>

            <if test ="null != name and name != ''">name = #{name},</if>
            <if test ="null != loginName and loginName !=''">loginName = #{loginName},</if>
            <if test ="null != isDel and isDel !=''">is_del = #{isDel}</if>
        </set>
        where loginName=#{outloginName}
    </update>

    <update id="updatelist" parameterType="list">
         update sys_user set is_del=1
         where loginName in
        <foreach collection="list" item="loginName" index="index" open="(" close=")" separator=",">
            #{loginName}
        </foreach>
    </update>
</mapper>